<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Weather App</title>

    <%- include('../sample/header.ejs') %>

    
</head>


<style>
    body {
      background-color: #f5f5f5; 
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      overflow-y: auto; 
    }

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 20px; 
      box-sizing: border-box; 
    }


 

  

   
  </style>

<body class="bg-light vh-100">

        <%- include('../sample/navigationbar.ejs') %>
   
    
        <div class="container1">
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4 mt-5">
                    <div class="card rounded-3">
                        <div class="card-body">
                            <h3 class="text-center mb-4">Login</h3>
                            <form action="/login" method="post">
                                <div class="mb-3">
                                    <label for="username" class="form-label">Username</label>
                                    <input type="text" class="form-control rounded-3" id="username" name="username" required>
                                </div>
        
                                <div class="mb-3">
                                    <label for="password" class="form-label">Password</label>
                                    <input type="password" class="form-control rounded-3" id="password" name="password" required>
                                </div>
                                <div class="text-center"> <!-- Added text-center class here -->
                                    <button type="submit" class="btn btn-primary rounded-3">Login</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

    
    <% if (error) { %>
        <script>
           alert("<%= error %>")
        </script>
    <% } %>


 
</body>
</html>
